<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>twobot</title>
    <style type="text/css" media="screen">
      *, html{
        font-family:courier;
        background:white;
        color:black;
      }
      h1, h2, h3, h4, table, pre, html, body{
        margin:0; padding:0;
      }
      input, textarea{
        border:1px solid #000;
        font-size:14px;
        padding:5px;
        margin:10px 0px;
      } 
      
      table {width:100%;}
      .header {
        background: #80E444;
        padding:5px;
        margin-bottom:5px;
      }
      
      .header a{
        background: #80E444;
        color:#000;
        text-decoration:none;
      }
      
      .content{
        padding:20px;
      }
      
      .section{
        margin-bottom:20px;
      }
      
      #query{width:100%;}
      .code_editor{
        width:100%;
        height:300px;
      }
    </style>
  </head>
  <body>
    <div class="header"><a href="/">home</a></div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>